<p id="notice"><%= notice %></p>

<section>
  <% @links.each do |link| %>
    <div class="row">
      <h2><%= link_to link.title, link %></h2>
      <small>Posted by <%= link.user.email %> <%= time_ago_in_words(link.created_at) %> ago</small>
      <% if link.user == current_user %>
        <%= link_to 'Edit', edit_link_path(link) %>
        <%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %><br>

      <%= link_to like_link_path(link), method: :put do %>
        <strong>Upvote ( <%= link.get_upvotes.size %> )</strong>
      <% end %>

      <%= link_to dislike_link_path(link), method: :put do %>
        <span>Downvote ( <%= link.get_downvotes.size %> )</span>
      <% end %>
    </div>
  <% end %>
</section>
